<html>
  <head>
    <%- include('header'); %>
  </head>

  <body>
    <%- include('body'); %>
    <main>
      <%= title %>
    </main>
    <footer>
      <%- include('footer'); %>
    </footer>
  </body>
</html>